[Unit]
Description=consul_servers
After=syslog.target network.target network-online.target remote-fs.target nss-lookup.target
After=google-accounts-daemon.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/usr/local/bin/consul_servers.sh > /etc/consul-servers"

[Install]
WantedBy=multi-user.target
